*.bak
*.bck
*.raw
*.log
*.dcm
*.kicad_pcb-bak
*autosave*
*cache*
*.pdf
*.jpg
*.xls
*.ods
*.txt
*.csv
*.com
*.class
*.dll
*.exe
*.o
*.so
*.swp
*.swo
*~ 
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
